# local environment files
backend/.env
frontend/.env
.env
rewrite_env_example.ps1


# node modules
backend/node_modules/
frontend/node_modules/

# React build output
frontend/build/

# OS artifacts
.DS_Store

# npm logs
npm-debug.log*
