AUTH0_DOMAIN=pratyush06.us.auth0.com
AUTH0_AUDIENCE=https://pratyush06.us.auth0.com/api/v2/
AUTH0_JWKS_URI=https://pratyush06.us.auth0.com/.well-known/jwks.json
OPENWEATHER_API_KEY=your-openweather-api-key
PORT=3001

